@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the price range filter */
.form-range {
  width: 100%;
}

#price-min-display,
#price-max-display {
  display: inline-block;
  margin-top: 5px;
  font-weight: bold;
}
